<%= form_for(@update) do |f| %>
  <% if @update.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@update.errors.count, "error") %> prohibited this update from being saved:</h2>

      <ul>
      <% @update.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :candidate %><br>
    <%= f.text_field :candidate %>
  </div>
  <div class="field">
    <%= f.label :installed %><br>
    <%= f.text_field :installed %>
  </div>
  <div class="field">
    <%= f.label :arch %><br>
    <%= f.text_field :arch %>
  </div>
  <div class="field">
    <%= f.label :section %><br>
    <%= f.text_field :section %>
  </div>
  <div class="field">
    <%= f.label :system %><br>
    <%= f.text_field :system %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
