<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @update.name %>
</p>

<p>
  <strong>Candidate:</strong>
  <%= @update.candidate %>
</p>

<p>
  <strong>Installed:</strong>
  <%= @update.installed %>
</p>

<p>
  <strong>Arch:</strong>
  <%= @update.arch %>
</p>

<p>
  <strong>Section:</strong>
  <%= @update.section %>
</p>

<p>
  <strong>System:</strong>
  <%= @update.system %>
</p>

<%= link_to 'Edit', edit_update_path(@update) %> |
<%= link_to 'Back', updates_path %>
